# Rust
/target
android/rust-lib/target

# Gradle
android/.gradle
android/build
android/app/build
android/local.properties
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat

# Nix
.data
flake.lock

# Cargo
.cargo/registry
